$offset: 10rem;
$start: calc(-25% + #{$offset});
$final: calc(-50% + #{$offset});
$f-size: .7rem;

.result {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 99999;
  display: flex;
  align-items: center;
  transition: $ease3;
  background-color: $bg--color;

  &.show {
    border-bottom: 1px solid $border--color;
    height: 1.1rem;
  }

  &__item {
    position: absolute;
    top: .1rem;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
  }

  &__text {
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d($start, 0, 0);
    animation: titleScroll 15s linear infinite;
  }

  &__text span {
    text-align: center;
    font-family: 'Arial';
    color: $text--color;
    font-weight: bolder;
    white-space: nowrap;
    font-size: $f-size;
    padding: 0 .2rem;
    font-style: italic;
    letter-spacing: .5px;
    text-transform: uppercase;
    line-height: 1.15;
  }

}

@keyframes titleScroll {
  0% {transform: translate3d($start, 0, 0)}
100% {transform: translate3d($final, 0, 0)}
}
