$go--width: 30vw;

.desk {
  .gameover {
    position: absolute;
    width: $go--width;
    height: 100%;
    @extend %flex-center;
    justify-content: start;
    padding: 5rem;
    visibility: hidden;

    .info {
      color: $text--color;
      text-align: left;

      &__title {
        span {
          font-family: $ff-jp;
          font-size: 3rem;
          letter-spacing: 2px;
        }

        h4 {
          font-size: 8rem;
          margin: 0;
          line-height: 1;
        }

        h6 {
          margin-top: 1rem;
          font-size: 2rem;
          color: $primary;
          display: none;
          width: max-content;
          align-items: center;
          line-height: 1;
          gap: 1rem;
        }
      }
    }

    section {
      display: flex;
      gap: 2rem;
      margin-top: 3rem;

      li {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;

        b {
          opacity: .7;
          font-weight: 400;
        }

        span {
          font-size: 3.5rem;
          font-family: 'Arial';
          font-weight: 900;
        }
      }
    }

    aside {
      margin-top: 3rem;
      font-size: 2rem;
      font-family: 'Arial';
      font-weight: 900;
    }
  }
}


.desk.winner,
.desk.loser {
  .gameover {
    visibility: visible;
    animation: showToLeft 1s;

    .info {
      &__title {
        span { animation:  showToLeft 1.2s}
        h4   { animation:  showToLeft 1.4s}
        h6   { animation:  showToLeft 1.6s}
      }
    }

    section {
      li::nth-child(1) { animation:  showToTop 1.7s}
      li::nth-child(2) { animation:  showToTop 1.9s}
      li::nth-child(3) { animation:  showToTop 2.1s}
    }
  }

  .player::after,
  .player::before {
    opacity: 1;
  }
}

.desk.winner {
  transform: translateX(-#{$go--width});
  #nextRival { display: flex}

  .gameover {
    text-align: left;
    left: calc(100% + .3rem);
  }
}

.desk.loser {
  transform: translateX(#{$go--width});
  #tryAgain { display: block}

  .gameover {
    text-align: right;
    right: calc(100% + .3rem);
  }

  aside,
  .info__title {
    text-align: right;
  }

  section {
    justify-content: flex-end;
  }
}

// .pokemon__options::after {
//   content: '';
//   @extend %full-size;
//   background-color: $primary;
//   z-index: 100;
//   width: calc(100% - 17rem);
//   mix-blend-mode: darken;
// }

// #cpuSelection::after {left: 17rem}
