body {
  background: repeat center/150px $bg--color;
  background-image: url('../img/icon/patt.png');

  &.dark-theme {
    background-image: url('../img/icon/patt-dark.png');
  }
}

.desk {
  display: grid;
  grid-template-rows: 1fr 4.5rem;
  aspect-ratio: 3/2;
  height: clamp(10rem, 80vh, 65rem);
  padding: 0rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg--color;
}

header {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: max-content max-content;
  align-content: space-between;
  gap: 2.5rem;
}

main {
  position: relative;
  height: 100%;
  border: 1px solid $border--color;
}
