.desk {
  display: grid;
  grid-template-rows: 1fr 6rem;
  aspect-ratio: 3/2;
  height: clamp(10rem, 80vh, 55rem);
  padding: 0rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
  position: relative;
  height: 100%;
  display: grid;
  grid-template-rows: max-content 10rem;
  align-content: space-between;
  gap: 2.5rem;
}

main {
  position: relative;
  height: 100%;
  border: 1px solid $border-color;
}

.logo {
  position: absolute;
  width: 8rem;
  left: -8rem;
  top: -1px;
  aspect-ratio: 1/1.2;
  background: url('../img/icon/logo.svg') no-repeat center 40%/50% #333;

  b {
    position: absolute;
    width: 100%;
    color: white;
    text-align: center;
    bottom: 20%;
    letter-spacing: 1.5px;

    sup {
      position: absolute;
      margin-top: .25rem;
      font-size: 50%;
    }
  }
}
