$item-width: 8.5rem;

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $border--color;

  .extra {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-top: 0;
    width: calc(17rem + 2px);
  }

  li {
    display: flex;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    line-height: 1;
    transition: $ease3;
    width: 50%;
    border-right: 1px solid $border--color;
    border-left: 1px solid $border--color;
    gap: .5rem;
    height: 100%;

    &:first-of-type {
      border-right: 0;
    }

    &:nth-child(1).active ~ .track { left: 0 }
    &:nth-child(2).active ~ .track { left: $item-width * 1 }
    &:nth-child(3).active ~ .track { left: $item-width * 2 }

  .icon {
    width: 2.4rem;
    aspect-ratio: 1;
    background: no-repeat center/90%;
    transition: $ease3;
    display: none;

    &.gym    {background-image: url('../img/icon/ic__gym.svg') }
    &.battle {background-image: url('../img/icon/ic__battle.svg') }
    &.medals {background-image: url('../img/icon/ic__bag.svg') }
  }

    span {
      color: $text--color;
      font-weight: 600;
      letter-spacing: .5px;
      display: flex;
      gap: .1rem;
      flex-direction: column;
      transition: $ease3;
      text-align: left;

      &::before {
        content: attr(data-title);
        font-size: .8rem;
        transition: $ease3;
        display: block;
      }
    }

    &:hover {
      background-color: $bg--player--color;

      span::before {
        margin-top: -1rem;
        opacity: 0;
      }
    }
  }
}


.track {
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: -.6rem;
  width: 50%;
  height: .4rem;
  background: $text--color;
  transition: $ease3;
}

.toggler {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  border-radius: $card-radius;
  height: 100%;
  position: relative;

  .option {
    width: 5rem;
    height: 4rem;
    font-size: 1rem;
    gap: .5rem;
    line-height: 1;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    position: relative;
    border-left: 1px solid $border--color;
    border-right: 1px solid $border--color;
    border-top: 0;
    color: $text--color;

    &::before {
      content: attr(data-original);
      font-family: $ff-jp;
      font-size: .7rem;
    }

    &:first-of-type {
      border-right: 0;
    }

    &:nth-child(1).active ~ .track {left: 0;}
    &:nth-child(2).active ~ .track {left: 50%;}

    .icon {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      display: none;

      // &.light { background: url('../img/icon/ic__light.svg') no-repeat center/50% #f5f5f5 }
      // &.dark  { background: url('../img/icon/ic__dark.svg')  no-repeat center/50% #f5f5f5 }
    }
  }
}
