
// Hover card
&:hover {
  z-index: 50;
  animation: brightFX .4s 1 ease-in forwards;
  filter: grayscale(0);

  .icon,
  .type,
  .label,
  .bg::after,
  .image::after {
    color: white;
  }

  &.grass .image { transform: translate(0, -.5rem) scale(1.1) }
  &.fire  .image { transform: translate(0, -.5rem) scale(1.1) }
  &.water .image { transform: translate(0, -.5rem) scale(1.1) }

  &::after { opacity: .3; mix-blend-mode: overlay; background-size: auto 120%; }

  &.grass .image::after { transform: translate(0, -1.5rem) scale(1.25) }
  &.fire  .image::after { transform: translate(0, -1.5rem) scale(1.25) }
  &.water .image::after { transform: translate(0, -1.5rem) scale(1.25) }

  &.grass .bg .fx{ transform: scale(.95) }
  &.fire  .bg .fx{ transform: scale(.95) }
  &.water .bg .fx{ transform: scale(.95) }
  &.grass .bg .type{ transform: scale(.95) }
  &.fire  .bg .type{ transform: scale(.95) }
  &.water .bg .type{ transform: scale(.95) }

  .bg {
    outline-width: 2px;
    &::before {
      opacity: .5;
    }

    &::after {
      opacity: 1;
    }
  }


  .type {
    &::after,
    &::before {
      letter-spacing: 2px; transform: scale(.9);
    }
  }
}

// Hover card selected
&.selected:hover,
&.selected {

  .icon,
  .type,
  .label,
  .bg::after,
  .image::after {
    color: white;
  }

  pointer-events: none;
  transform: translate(0, 0) scale(1);
  filter: grayscale(0);

  &::after {
    opacity: .3;
    mix-blend-mode: overlay;
    background-size: auto 85%;
    background-position: center 70%;
  }

  &.grass .image::after { transform: translate(0, -1.5rem) scale(1.2) }
  &.fire  .image::after { transform: translate(0, -1.5rem) scale(1.2) }
  &.water .image::after { transform: translate(0, -1.5rem) scale(1.2) }

  &.grass::after { transform: translate(0, -1.5rem) scale(1.2) }
  &.fire::after  { transform: translate(0, -1.5rem) scale(1.2) }
  &.water::after { transform: translate(0, -1.5rem) scale(1.2) }

  .fx img[src*="img"] {
    visibility: visible;
  }

  .image {transform: scale(1.25)}
  .bg {transform: translate(0,0)}

  &.grass .bg::after { border-color: $grass}
  &.fire  .bg::after { border-color: $fire}
  &.water .bg::after { border-color: $water}

  .image-bg {
    animation-play-state: running;
    opacity: .25;
  }

  .bg {
    outline-width: .3rem;
    &::before {
      opacity: .5;
    }

    &::after {
      opacity: 0;
    }
  }

  .icon {
    opacity: 1;
    transform: translate(0,0);
  }

  .type {
    &::after,
    &::before {
      letter-spacing: 2px; transform: scale(.9);
    }
  }

}
