
// Hover card
$games__types: (
  "grass",
  "fire",
  "water",
);


&:hover {
  z-index: 50;
  animation: brightFX .4s 1 ease-in forwards;
  filter: grayscale(0);

  .icon,
  .type,
  .label,
  .bg::after,
  .image::after {
    color: white;
  }

  @each $games in $games__types {
    &.#{$games} .image { transform: translate(0, -.5rem) scale(1.1) }
    &.#{$games} .image::after { transform: translate(0, -1.5rem) scale(1.25)}
    &.#{$games} .bg .fx{ transform: scale(.95) }
    &.#{$games} .bg .type{ transform: scale(.95) }
  }

  &::after {
    opacity: .3;
    mix-blend-mode: overlay;
    background-size: auto 120%;
  }

  .bg {
    &::before {
      opacity: .5;
    }

    &::after {
      opacity: 1;
    }
  }

  .type {
    &::after,
    &::before {
      letter-spacing: 2px; transform: scale(.9);
    }
  }
}

// Hover card selected
&.selected:hover,
&.selected {

  .icon,
  .type,
  .label,
  .bg::after,
  .image::after {
    color: white;
  }

  pointer-events: none;
  transform: translate(0, 0) scale(1);
  filter: grayscale(0);

  &::after {
    opacity: .3;
    mix-blend-mode: overlay;
    background-size: auto 85%;
    background-position: center 70%;
  }

  @each $games in $games__types {
    &.#{$games} .image::after { transform: translate(0, -1.5rem) scale(1.2)}
    &.#{$games}::after { transform: translate(0, -1.5rem) scale(1.2) }
  }

  .fx img[src*="img"] {
    visibility: visible;
  }

  .image {transform: scale(1.25)}
  .bg {transform: translate(0,0)}

  .image-bg {
    animation-play-state: running;
    opacity: .25;
  }

  .bg {
    &::before {
      opacity: .5;
    }

    &::after {
      opacity: 0;
    }
  }

  .icon {
    opacity: 1;
    transform: translate(0,0);
  }

  .type {
    &::after,
    &::before {
      letter-spacing: 2px; transform: scale(.9);
    }
  }

}
