.player {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #f5f5f5;
  border-right: 1px solid $border-color;

  .lifes {
    position: absolute;
    display: flex;
    gap: .3rem;
    top: 1rem;

    i {
      display: block;
      width: 1.1rem;
      height: 1.1rem;
      background: url('../img/icon/pokeball_color.svg') no-repeat center/contain;
      transition: $ease3;
    }

    &.x :nth-child(1),
    &.xx :nth-child(2),
    &.xxx :nth-child(3),
    &.xxxx :nth-child(4),
    &.xxxxx :nth-child(5) {
      filter: grayscale(1);
      opacity: .3;
      animation: shake .8s ease 1;
    }
  }

  &.cpu .lifes {
    right: 1rem;
    justify-content: right;
  }

  &.user .lifes {
    flex-direction: row-reverse;
    left: 1rem;
  }

  .avatar {
    @extend %full-size;
    width: 120%;
    height: 100%;
    background: no-repeat right 3rem/100% auto;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: relative;
  }

  .name {
    position: absolute;
    bottom: 0;
    right: calc(100% + 1rem);
    color: $black;
    text-align: right;
    z-index: 100;
    width: 100%;


    h6 {
      font-size: 1rem;
      font-family: $ff-jp;
      line-height: 1;
      font-weight: normal;
    }

    h1 {
      font-size: 2.2rem;
      font-weight: bold;
      margin-bottom: .5rem;
      line-height: 1;
      display: inline-block;
    }

    h2 {
      font-size: .9rem;
      letter-spacing: .5px;
      font-weight: normal;
      opacity: .3;
    }
  }


  &.user  { border: 0 }
  &.cpu  .avatar  { background-image: url('../img/trainer/gary.png'); left: -5%; }
  &.user .avatar { background-image: url('../img/trainer/red.png'); background-size: 100%; }
  &.user .name { text-align: left; left: calc(100% + 1rem); }
}
