.player {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: $bg--player--color;
  border-right: 1px solid $border--color;

  .lifes {
    position: absolute;
    display: flex;
    gap: .3rem;
    top: 1rem;

    i {
      display: block;
      width: 1.1rem;
      height: 1.1rem;
      background: url('../img/icon/pokeball_color.svg') no-repeat center/contain;
      transition: $ease3;
    }

    &.x :nth-child(1),
    &.xx :nth-child(2),
    &.xxx :nth-child(3),
    &.xxxx :nth-child(4),
    &.xxxxx :nth-child(5) {
      filter: grayscale(1);
      opacity: .3;
      animation: shake .8s ease 1;
    }
  }

  &.cpu .lifes {
    right: 1rem;
    justify-content: right;
  }

  &.user .lifes {
    flex-direction: row-reverse;
    left: 1rem;
  }

  .avatar {
    @extend %full-size;
    width: 120%;
    height: 100%;
    background: no-repeat right 3rem/100% auto;
    right: 0;
    bottom: 0;
    z-index: 0;
    position: relative;
  }

  .name {
    position: absolute;
    top: 3rem;
    right: 1rem;
    color: $text--color;
    text-align: right;
    z-index: 100;
    width: 100%;


    h6 {
      font-size: .6rem;
      opacity: .4;
      font-family: $ff-jp;
      line-height: 1;
      margin-bottom: .3em;
      font-weight: normal;
    }

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: .6rem;
      line-height: 1;
      text-transform: capitalize;
      display: inline-block;
    }

    h2 {
      font-size: .9rem;
      letter-spacing: .5px;
      font-weight: normal;
      opacity: .5;
    }
  }


  &.user  {
    border: 0;
    order: 4;
  }

  &.cpu  .avatar  { background-image: url('../img/trainer/gary.png'); left: -5%; }
  &.user .avatar { background-image: url('../img/trainer/red.png'); background-size: 100%; }
  &.user.girl .avatar {
    background-image: url(../img/trainer/girl.png);
    background-size: 65%;
    background-position: 45% 2.5rem;
  }

  &.user .name { text-align: left; left: 1rem; right: unset; }
}


.player {
  &:before, &:after {
    content: '';
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    z-index: -1;
    border-radius: inherit;
    background: inherit;
    opacity: 0;
    transition: $ease3;
  }
  &:before {
    background: linear-gradient(90deg, #0ebeff, #ffdd40, #ae63e4, #47cf73);
    background-size: 200% 200%;
    animation: rainbow-border 1s linear infinite
  }
  &:after {
    margin: 6px;
  }

  @keyframes rainbow-border {
    0% { background-position: 0% 50% }
    100% { background-position: 200% 50% }
  }
}
