$pokemons: (
  "bulbasaur",
  "charmander",
  "squirtle",
  "chikorita",
  "cyndaquil",
  "totodile",
  "cleffa",
);

@each $pokemon in $pokemons {
  .#{$pokemon} .image { background-image: url('../img/pokemon/#{$pokemon}.png') }
  .#{$pokemon}::after { background-image: url('../img/pokemon/#{$pokemon}__evolution.png') }
}


$element__types: (
  "grass",
  "fire",
  "water",
  "fairy",
);

@each $element in $element__types {
  #{$element}.type .icon {background-image: url('../img/icon/#{$element}__type.svg')}
}


.pokemon__card.selected:hover,
.pokemon__card.selected,
.pokemon__card:hover {

  &.grass .type .icon { color: $grass-xl; opacity: 1; transform: translate(0,0)}
  &.fire  .type .icon { color: $fire-xl ; opacity: 1; transform: translate(0,0)}
  &.water .type .icon { color: $water-xl; opacity: 1; transform: translate(0,0)}
  &.fairy .type .icon { color: $fairy-xl; opacity: 1; transform: translate(0,0)}

  &.grass .bg { background-image: radial-gradient(circle, $grass-xl 0%, $grass-xd 80%)}
  &.fire  .bg { background-image: radial-gradient(circle, $fire-xl 0%, $fire-xd 80%)}
  &.water .bg { background-image: radial-gradient(circle, $water-xl 0%, $water-xd 80%)}
  &.fairy .bg { background-image: radial-gradient(circle, $fairy-xl 0%, $fairy-xd 80%)}

  &.grass .type::after, &.grass .type::before { color:$grass-xl }
  &.fire  .type::after, &.fire  .type::before { color:$fire-xl }
  &.water .type::after, &.water .type::before { color:$water-xl }
  &.fairy .type::after, &.water .type::before { color:$fairy-xl }

}
