.register {
  @extend %full-size;
	background: $bg--color;
	z-index: 100;
	width: 100vw;
  height: 100vh;
  overflow: hidden;
  @extend %flex-center;
	// display: none;
  background: url('../img/icon/patt.png') repeat center/150px #fff;

	&__container {
		position: relative;
		aspect-ratio: 3/2;
		height: clamp(10rem, 80vh, 65rem);
		transition: $ease3;
		transition-duration: .5s;
		display: grid;
		grid-template-columns: max-content 30rem;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		color: $text--color;
		transform: translateX(-3rem);

		.logo-wpc {
			position: absolute;
			width: 8rem;
			height: 8rem;
			top: 15%;
			left: 50%;
			transform: translateX(-50%);
			background: url(../img/icon/wcs.png) no-repeat center/contain;
		}
	}

	section {
		@extend %flex-center;

		&.steps {
			width: 30rem;
			height: 30rem;
			text-align: center;
			position: relative;
		}

		&.characters__container {
			justify-content: flex-start;
		}
	}

	.question {
		@extend %full-size;
		border: 1px solid $border--color;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-flow: column;
		padding: 0 1rem;
		flex-direction: column;
		background-color: #fff;
		transition: $ease3;

		&1 { z-index: 3 }
		&2 { z-index: 2 }
		&3 { z-index: 1 }

		&2 { top: .7rem; left: .7rem; }
		&3 { top: 1.4rem; left: 1.4rem; }

		sup {
			position: relative;
			font-size: 1.4rem;
		}

		h4 {
			font-family: $ff-jp;
			font-size: 2rem;
		}

		h5 {
			font-weight: bold;
			font-size: 4rem;
		}

		.options {
			margin-top: 2rem;
			display: flex;
			font-weight: bold;
			font-size: 2rem;
			position: relative;
			justify-content: flex-end;

			li {
				line-height: 1;
				position: relative;
				border: 1px solid $border--color;
				padding: 1rem 2rem;
				transition: $ease3;
				height: 6rem;
				background-color: #fff;
				@extend %flex-center;


				&:hover {
					color: #fff;
					background-color: #333;
				}
			}

			li:nth-child(2) {
				border-left: 0;
			}

			span {
				font-size: .9rem;
				opacity: .5;
				position: absolute;
				right: 0;
				top: calc(100% + 1rem);
				font-weight: normal;
			}
		}
	}


}

.name-input {
	position: relative;
	background-color: #fff;

	input {
		all: unset;
		display: block;
		border: 1px solid $border--color;
		box-sizing: border-box;
		padding: 1rem 4rem 1rem 2rem;
		line-height: 1;
		width: 15rem;
		height: 6rem;
		text-transform: capitalize;
		text-align: center;
	}

	div {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.1rem;
    width: 4rem;
		border-left: 1px solid $border--color;
    height: 100%;
    text-transform: uppercase;
		@extend %flex-center;
		transition: $ease3;

		i {
			position: relative;
			top: 2px;
		}

		&:hover {
			background-color: #333;
			color: #fff;
		}
	}
}

.characters {
	display: flex;
	position: relative;

	&.boy {
		.info {
			left: 100%;
		}
	}

	.info {
		position: absolute;
		left: 90%;
		bottom: 5%;

		&__main {
			@extend %flex-center;
			flex-wrap: wrap;
			border: 1px solid $border--color;
			background-color: #fff;
		}

		.subtitle {
			@extend %flex-center;
			flex-direction: column;
			padding: 1rem;
		}


		h4 {
			font-family: $ff-jp;
			font-size: .8rem;
			color: rgba(#111, .7);
			transition-delay: .2s;
		}

		.user-name {
			font-weight: bold;
			font-size: 2rem;
			font-family: inherit;
			@extend %flex-center;
			line-height: 1;
			width: 7ch;
			display: block;
			text-align: center;
			padding: 0;
			color: #000;
			text-transform: capitalize;
			position: relative;
			border: 0;
			pointer-events: none;
			user-select: none;
			// height: 4rem;
			transition-duration: .3s;
			height: 0;
			overflow: hidden;
			transition-delay: .5s;

			&.on {
				border-top: 1px solid var(--border--color);
				height: 4rem;
			}


			&.showname {
				color: #fff;
				background: url(../img/icon/patt-dark.png) repeat left center/100px #333;
				animation: bgRepeat 5s infinite;
			}
		}

		h5 {
			font-size: 1.6rem;
			color: rgba(#111, .8);
			transition-delay: .25s;
			font-weight: bold;
			margin-bottom: .2rem;
		}

		h6 {
			font-size: .8rem;
			font-weight: normal;
			transition-delay: .4s;
			display: flex;
			align-items: center;
			line-height: 1;

			i {
				font-size: .8rem;
				margin-right: .1rem;
			}
		}

		* {
			transition: $ease3;
			opacity: 0;
			transform: translate(0,1rem);
		}

	}

	// .bg {
	// 	@extend %full-size;
	// 	background: url(../img/fx/brillo.gif) no-repeat center/cover;
	// 	z-index: 1;
	// 	width: 100%;
	// 	height: 38rem;
	// 	top: 1rem;
	// 	border-radius: 2rem;
	// 	// opacity: 0;
	// 	transition: $ease3;
	// }

	.boy,
	.girl {
		width: 24rem;
		height: 40rem;
		position: relative;
		z-index: 5;
		transition: $ease3;
		// background-color: pink;

		.pic {
			@extend %full-size;
			z-index: 5;
			transition: $ease3;

		}
	}

	.boy .pic {
		background: url(../img/trainer/red.png) no-repeat;
		background-size:  auto 40rem;
		background-position: 50% 0rem;
	}

	.boy {
		margin-left: -12rem;
	}

	.girl {
		width: 20rem;
		z-index: 6;
	}

	.girl .pic {
		background: url(../img/trainer/girl.png) no-repeat;
		background-size:  auto 40rem;
		background-position: 45% 0rem;
	}
}

.characters.girl,
.characters.boy {
	.info * {
		transform: translate(0,0);
		opacity: 1;
	}
}

.characters.girl {
	.boy {
		transform: translate(2rem,0);
		opacity: 0;
	}

	.girl {
		transform: translate(-2rem,0);
	}
}

.characters.boy {
	.girl {
		transform: translate(-1rem,0);
		opacity: 0;
	}

	.boy {
		transform: translate(-8rem,0);
	}
}



.steps.first {
	.question1 {
	}
}

.steps.second {
	.question1 {
		transform: translate(-4rem,-4rem);
		opacity: 0;
	}
}

// .steps.third {
// 	.question3 {
// 		display: block;
// 	}
// }
