$gap-elements: .1rem;

.register {
  @extend %full-size;
	background: $bg--color;
	z-index: 100;
	width: 100vw;
  height: 100vh;
	overflow: hidden;
	visibility: hidden;
  @extend %flex-center;
  background: url('../img/icon/patt.png') repeat center/150px #fff;

	&.hide {
		display: none;
	}

	&__container {
		position: relative;
		height: 100%;
		transition-duration: .5s;
		display: grid;
		grid-template-columns: 6rem 30rem 25rem 15rem;
		align-items: center;
		justify-content: center;
		gap: $gap-elements;
		color: $text--color;
	}

	section.title-setup {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.2rem;
		font-weight: bold;
		writing-mode:vertical-rl;

		aside {
			@extend %flex-center;
			transform: rotate(180deg);
			line-height: 1;

			span {
				opacity: .9;
				font-size: 1rem;
				margin: 1rem;

				&::before {
					content: '';
					height: 3rem;
					background-color: #9a9a9a;
					width: 0.1rem;
					display: inline-block;
					margin-bottom: 1.2rem;
				}
			}
		}

		.logo-wpc {
			width: 3rem;
			height: 3rem;
			margin-bottom: .3rem;
			transform: rotate(180deg);
			background: url(../img/icon/wcs.png) no-repeat center/contain #fff;
		}
	}

	section {
		transition: $ease3;

		&.steps {
			height: 100%;
			text-align: center;
			position: relative;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
			gap: $gap-elements;
		}
	}

	.question {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0 3rem;
		border: 1px solid $border--color;
		height: 100%;
		user-select: none;
		transition: transform .3s ease-in;
		@extend %element-off;


		.back {
			position: absolute;
			left: 1rem;
			top: -2rem;
			height: 4rem;
			width: 4rem;
			background-color: #333;
			border: 1px solid $border--color;
			@extend %flex-center;
			font-size: 1.2rem;
			transition: $ease3;
			opacity: 0;
			transition-delay: .3s;
			transform: translate(0, 2rem);


			i {
				color: #fff;
				position: relative;
				top: 2px;
			}
		}

		sup {
			position: relative;
			font-size: 1.4rem;
		}

		h4 {
			font-family: $ff-jp;
			font-size: 1.7rem;
		}

		h5 {
			font-weight: bold;
			font-size: 3rem;
		}

		&.question3 {
			.options {
				li:hover {
					background-color: $primary;
				}
			}
		}

		.options {
			margin-top: 2rem;
			display: flex;
			font-weight: bold;
			font-size: 2rem;
			position: relative;
			justify-content: flex-end;

			li {
				line-height: 1;
				position: relative;
				border: 1px solid $border--color;
				padding: 1rem 2rem;
				transition: $ease3;
				height: 6rem;
				background-color: #fff;
				@extend %flex-center;


				&:hover {
					color: #fff;
					background-color: #333;
				}
			}

			li:nth-child(2) {
				border-left: 0;
			}

			span {
				font-size: .9rem;
				opacity: .5;
				position: absolute;
				right: 0;
				top: calc(100% + 1rem);
				font-weight: normal;
			}
		}
	}
}

.name-input {
	position: relative;
	background-color: #fff;

	input {
		all: unset;
		display: block;
		border: 1px solid $border--color;
		box-sizing: border-box;
		padding: 1rem 4rem 1rem 2rem;
		line-height: 1;
		width: 15rem;
		height: 6rem;
		text-transform: capitalize;
		text-align: center;
	}

	div {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 1.1rem;
    width: 4rem;
		border-left: 1px solid $border--color;
    height: 100%;
    text-transform: uppercase;
		@extend %flex-center;
		transition: $ease3;

		i {
			position: relative;
			top: 2px;
		}

		&:hover {
			background-color: #333;
			color: #fff;
		}
	}
}

.characters__container {
	height: 100%;
}

.characters {
	position: relative;
	display: grid;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	gap: $gap-elements;

	.boy,
	.girl {
		width: 100%;
		height: 100%;
		border: 1px solid $border--color;
		position: relative;
		z-index: 5;
		transition: $ease3;
		@extend %element-off;
		overflow: hidden;

		.bg {
			z-index: 0;
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 115%;
			background: no-repeat top center/auto 120%;
			transition: $ease3;
			mix-blend-mode: multiply;
		}

		.pic {
			@extend %full-size;
			z-index: 5;
			transition: $ease3;

		}
	}

	.boy  .bg { background-image: url(../img/trainer/red__wall.png) }
	.girl .bg { background-image: url(../img/trainer/green__wall.png) }
}

.player__container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: max-content max-content;
	align-content: center;
	gap: $gap-elements;

	.avatar {
		width: 100%;
    height: 15rem;
    border-bottom: 1px solid #eee;
	}

	.name-container-girl .avatar { background: url(../img/trainer/girl.png) no-repeat 40% -10%/70%}
	.name-container-boy .avatar { background: url(../img/trainer/red.png) no-repeat 50% -14%/95%}

	.info__main {
		@extend %flex-center;
		height: 100%;
		flex-direction: column;
		border: 1px solid $border--color;
		background-color: #fff;
		transition: $ease3;
		@extend %element-off;
	}

	.subtitle {
		@extend %flex-center;
		flex-direction: column;
		padding: 3rem 1rem;
		width: 100%;
	}

	h4 {
		font-family: $ff-jp;
		font-size: 1.2rem;
		color: rgba(#111, .7);
		transition-delay: .2s;
	}

	.user-name {
		width: 100%;
		font-weight: bold;
		font-size: 2.5rem;
		font-family: inherit;
		@extend %flex-center;
		line-height: 1;
		display: block;
		text-align: center;
		padding: 0;
		text-transform: capitalize;
		position: relative;
		border: 0;
		pointer-events: none;
		user-select: none;
		transition-duration: .3s;
		height: 0;
		overflow: hidden;
		transition-delay: .5s;
		background-color: $primary;
		color: #fff;
		background: $primary;

		&.on {
			border-top: 1px solid var(--border--color);
			height: 7rem;
		}
	}

	h5 {
		font-size: 2rem;
		color: rgba(#111, .8);
		transition-delay: .25s;
		font-weight: bold;
		margin-bottom: .8rem;
	}

	h6 {
		font-size: 1rem;
		font-weight: normal;
		transition-delay: .4s;
		display: flex;
		align-items: center;
		line-height: 1;

		i {
			font-size: .8rem;
			margin-right: .1rem;
		}
	}
}

%element-off {
	opacity: .5;
	pointer-events: none;
	mix-blend-mode: multiply;
	filter: grayscale(1);
	background-color: transparent;
}

%element-on {
	opacity: 1;
	pointer-events: all;
	mix-blend-mode: normal;
	filter: grayscale(0);
	background-color: #fff;
}

// steps
//1
.register__container.first {
	.steps { transform: translateY(33vh) }
	.question1 { @extend %element-on;	}
}

//2
.register__container.second {
	.steps { transform: translateY(0)	}
	.question2 .back { opacity: 1; transform: translate(0,0) }
	.question1 { @extend %element-off;	}
	.question2{	@extend %element-on;	}
}

//3
.register__container.third {
	.steps { transform: translateY(-33vh)	}
	.question3 .back { opacity: 1; transform: translate(0,0) }
	.question2, .question1 { @extend %element-off; }
	.question3{
		@extend %element-on;
		background-color: $primary;
		color: #fff;

		.options li {
			background-color: $primary;

			&:hover {
				background-color: #fff;
				color: $primary;
			}
		}
	}

	.player__container.girl {	transform: translateY(25vh)	}
	.player__container.boy { transform: translateY(-15vh)	}
}


// choose gender
.characters__container.girl {
	transform: translateY(25vh);
	.girl {
		@extend %element-on;

		.bg {
			background-size: auto 100%;
			mix-blend-mode: normal;
		}
	}
}

.characters__container.boy {
	transform: translateY(-25vh);
	.boy {
		@extend %element-on;

		.bg {
			background-size: auto 100%;
			mix-blend-mode: normal;
		}
	}
}

// player info
.player__container.girl {
	transform: translateY(15vh);
	.name-container-girl {
		@extend %element-on;
	}
}
.player__container.boy {
	transform: translateY(-10vh);
	.name-container-boy {
		@extend %element-on;
	}
}


.overlay {
  @extend %full-size;
  z-index: 200;
  pointer-events: none;

	.pokeball {
		position: absolute;
		height: 2.6rem;
		width: 2.6rem;
		left: 50%;
		top: 50%;
		opacity: 0;
		transform: translate(-50%, -50%) rotate(360deg);
		background: url(../img/icon/pokeball_color.svg) no-repeat center/contain
	}

	span {
		position: absolute;
		left: 50%;
		top: 50%;
		font-size: 2.4rem;
		font-weight: bold;
		text-align: center;
		font-family: $ff-jp;
		opacity: 0;
		transform: translate(-50%, calc(-50% + 10rem));

		b {
			display: block;
			font-weight: normal;
			text-align: center;
			margin-top: .5rem;
			font-size: 1.2rem;
			font-family: $ff-base;

			i {
				font-style: normal;
				animation: loading 1s infinite both;
				&:nth-child(2) { animation-delay: .15s }
				&:nth-child(3) { animation-delay: .3s }
			}

			@keyframes loading {
				  0% { opacity: 1 }
				 50% { opacity: 0 }
				100% { opacity: 1 }
			}
		}
	}

  .left,
  .right {
    @extend %full-size;
		width: 50%;
    background: $primary;

		.wall {
			@extend %full-size;
			background: url(../img/icon/bg__balls.svg) repeat center top/3rem $primary;
			opacity: .3;
		}
  }

	.right {
		left: unset;
		right: 0;
	}

  .left  { clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); }
  .right { clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }

	&.transition {
		.left,
		.right,
		.pokeball {
			transition: $ease3;
		}

		.left,
		.right {
			transition-delay: .15s;
		}
	}

  &.on {
		opacity: 1;
		pointer-events: all;

    .left  { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
    .right { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
		.pokeball {
			transform: translate(-50%, -50%) rotate(0deg);
			opacity: 1;
		}

		span {
			transform: translate(-50%, calc(-50% + 6rem));
			opacity: 1;
		}
  }
}
