.pokemon__resultado {
  z-index: 500;

  div {
    position: fixed;
    max-width: 0;
    height: 3rem;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    background-color: white;
    opacity: 0;

    img,
    span,
    h6 {
      transition: $ease3;
      user-select: none;
    }

    span {
      font-size: 2rem;
      transition: $ease3;
      text-align: center;
      font-weight: bold;
      line-height: 1;
      color: #333;
      word-break: keep-all;
      white-space: nowrap;
      z-index: 0;
    }

    // h6 {
    //   color: #999;
    //   font-size: 1rem;
    //   cursor: pointer;

    //   &:hover {
    //     color: #333;
    //   }
    // }

    &.show {
      pointer-events: all;
      max-width: 10rem;
      padding: 0 2rem;
      overflow: hidden;
      opacity: 1;
      transition: $ease3;
    }
  }
}
