$ff-display: "Lilita One";
$ff-base: "Merriweather Sans";
$ff-jp: "Noto Sans JP";

$ease3: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;

$grass: #71d558;
$grass-d: #02b60b;
$grass-xd: #008e40;
$grass-l: #a6ff00;
$grass-xl: #e9ffbf;

$fire: #ed5a00;
$fire-d: #dd3709;
$fire-xd: #cb3300;
$fire-l: #fe9202;
$fire-xl: #ffd981;

$text--color: var(--text--color);
$bg--color: var(--bg--color);
$bg--player--color: var(--bg--player--color);
$border--color: var(--border--color);
$logo--color: var(--logo--color);

$water: #02afff;
$water-d: #0092fd;
$water-xd: #0060cd;
$water-l: #03c9ff;
$water-xl: #9cfcff;

$card-radius: 1.2rem;

%full-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  --text--color: #333;
  --bg--color: #fff;
  --bg--player--color: #f5f5f5;
  --border--color: #eee;
  --logo--color: #333
}

.dark-theme {
  --text--color: #ccc;
  --bg--color: #222;
  --bg--player--color: #111;
  --border--color: #111;
  --logo--color: #000;

  // .icon {
  //   filter: invert(1);
  // }
}
