@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://cdn-uicons.flaticon.com/uicons-bold-straight/css/uicons-bold-straight.css");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans+JP:wght@900&family=Merriweather+Sans:wght@400;600;800&display=swap");
.register, .characters .info .user-name::after, .characters .boy .pic,
.characters .girl .pic, .pokemon__card::after, .pokemon__card .type, .pokemon__card .fx, .pokemon__card .bg, .pokemon__card .bg::before, .player .avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.register, .register section, .register .question .options li, .name-input div, .characters .info__main, .characters .info .subtitle, .characters .info .user-name, body, .desk .gameover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  --text--color: #333;
  --bg--color: #fff;
  --bg--player--color: #f5f5f5;
  --border--color: #eee;
  --logo--color: #333
;
}

body.dark-theme {
  --text--color: #fff;
  --bg--color: #222;
  --bg--player--color: #111;
  --border--color: #111;
  --logo--color: #000;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body {
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 10px;
}

body,
html {
  font-family: "Merriweather Sans";
  overflow: hidden;
}

@-webkit-keyframes grass {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes grass {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes water {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes water {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  60% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes fire {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes fire {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  20% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  40% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  60% {
    -webkit-transform: translate(0, -1rem);
            transform: translate(0, -1rem);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes brightFX {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  40% {
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@keyframes brightFX {
  0% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  40% {
    -webkit-filter: brightness(140%);
            filter: brightness(140%);
  }
  100% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-0.2rem) scale(1.1);
            transform: translateX(-0.2rem) scale(1.1);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(0.2rem) scale(1.1);
            transform: translateX(0.2rem) scale(1.1);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-0.2rem) scale(1.1);
            transform: translateX(-0.2rem) scale(1.1);
  }
  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(0.2rem) scale(1.1);
            transform: translateX(0.2rem) scale(1.1);
  }
}

@-webkit-keyframes dropLifes {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(2.5rem) rotate(360deg);
            transform: translateY(2.5rem) rotate(360deg);
    opacity: 0;
  }
}

@keyframes dropLifes {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(-0.5rem);
            transform: translateY(-0.5rem);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(2.5rem) rotate(360deg);
            transform: translateY(2.5rem) rotate(360deg);
    opacity: 0;
  }
}

@-webkit-keyframes showCounter {
  0% {
    opacity: 0;
    top: .2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes showCounter {
  0% {
    opacity: 0;
    top: .2rem;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@-webkit-keyframes bgRepeat {
  to {
    background-position: -100% 0;
  }
}

@keyframes bgRepeat {
  to {
    background-position: -100% 0;
  }
}

@-webkit-keyframes showToLeft {
  from {
    -webkit-transform: translate(2rem, 0);
            transform: translate(2rem, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showToLeft {
  from {
    -webkit-transform: translate(2rem, 0);
            transform: translate(2rem, 0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes showToTop {
  from {
    -webkit-transform: translate(0, 4rem);
            transform: translate(0, 4rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes showToTop {
  from {
    -webkit-transform: translate(0, 4rem);
            transform: translate(0, 4rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes nameSlide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes nameSlide {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cursor {
  pointer-events: none;
  z-index: 99999;
  width: 3rem;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: brightness(150%);
          backdrop-filter: brightness(150%);
  -webkit-transition: width ease-in .2s, background ease-in .2s;
  transition: width ease-in .2s, background ease-in .2s;
  opacity: 0;
}

.cursor.big {
  width: 5rem;
  -webkit-filter: brightness(150%) contrast(120%);
          filter: brightness(150%) contrast(120%);
}

.cursor.blur {
  -webkit-backdrop-filter: blur(0.4rem);
          backdrop-filter: blur(0.4rem);
}

.cursor.misty {
  width: 8rem;
  background: url("../img/trainer/misty__mini.png") no-repeat center/130%;
  border: 1px solid #f14242;
  -webkit-backdrop-filter: blur(0.4rem);
          backdrop-filter: blur(0.4rem);
}

html:hover .cursor {
  opacity: 1;
}

.register {
  background: var(--bg--color);
  z-index: 100;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.register__container {
  position: relative;
  aspect-ratio: 3/2;
  height: clamp(10rem, 80vh, 65rem);
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30rem 30rem;
      grid-template-columns: 30rem 30rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  color: var(--text--color);
}

.register__container .logo-wpc {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 15%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../img/icon/wcs.png) no-repeat center/contain;
}

.register section.steps {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

.register section.characters__container {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.register .question sup {
  position: relative;
  font-size: 1.4rem;
}

.register .question h4 {
  font-family: "Noto Sans JP";
  font-size: 2rem;
}

.register .question h5 {
  font-weight: bold;
  font-size: 4rem;
}

.register .question .options {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 3rem;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.register .question .options li {
  line-height: 1;
  position: relative;
  border: 1px solid var(--border--color);
  padding: 1rem 2rem;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  height: 6rem;
}

.register .question .options li:hover {
  color: #fff;
  background-color: #111;
}

.register .question .options li:nth-child(2) {
  border-left: 0;
}

.register .question .options span {
  font-size: .9rem;
  opacity: .5;
  position: absolute;
  right: 0;
  top: calc(100% + 1rem);
  font-weight: normal;
}

.name-input {
  position: relative;
}

.name-input input {
  all: unset;
  display: block;
  border: 1px solid var(--border--color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem 7rem 1rem 1rem;
  line-height: 1;
  width: 10ch;
  height: 6rem;
  text-transform: uppercase;
  text-align: center;
}

.name-input div {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  width: 7rem;
  border-left: 1px solid var(--border--color);
  height: 100%;
  text-transform: uppercase;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.name-input div:hover {
  background-color: #111;
  color: #fff;
}

.characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.characters.boy .info {
  left: 100%;
}

.characters .info {
  position: absolute;
  left: 90%;
  bottom: 5%;
}

.characters .info__main {
  border: 1px solid var(--border--color);
}

.characters .info .subtitle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border-right: 1px solid var(--border--color);
}

.characters .info h4 {
  font-family: "Noto Sans JP";
  font-size: 1rem;
  color: rgba(17, 17, 17, 0.7);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.characters .info .user-name {
  font-weight: bold;
  font-size: 3rem;
  letter-spacing: 2px;
  line-height: 1;
  width: 7ch;
  text-align: center;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  padding: 2rem 1.5rem 1.8rem;
  color: #000;
  text-transform: uppercase;
  position: relative;
  height: 100%;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.characters .info .user-name::after {
  content: '';
  background-color: #111;
  opacity: 0;
}

.characters .info .user-name.showname {
  background-color: #111;
  color: #fff;
}

.characters .info .user-name.showname::after {
  -webkit-animation: nameSlide .6s ease-in;
          animation: nameSlide .6s ease-in;
}

.characters .info h5 {
  font-size: 2rem;
  font-weight: normal;
  color: rgba(17, 17, 17, 0.8);
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.characters .info h6 {
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

.characters .info h6 i {
  font-size: .8rem;
  margin-right: .3rem;
}

.characters .info * {
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  opacity: 0;
  -webkit-transform: translate(0, 1rem);
          transform: translate(0, 1rem);
}

.characters .boy,
.characters .girl {
  width: 24rem;
  height: 40rem;
  position: relative;
  z-index: 5;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.characters .boy .pic,
.characters .girl .pic {
  z-index: 5;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.characters .boy .pic {
  background: url(../img/trainer/red.png) no-repeat;
  background-size: auto 40rem;
  background-position: 50% 0rem;
}

.characters .boy {
  margin-left: -12rem;
}

.characters .girl {
  width: 20rem;
  z-index: 6;
}

.characters .girl .pic {
  background: url(../img/trainer/girl.png) no-repeat;
  background-size: auto 40rem;
  background-position: 45% 0rem;
}

.characters.girl .info *,
.characters.boy .info * {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.characters.girl .boy {
  -webkit-transform: translate(2rem, 0);
          transform: translate(2rem, 0);
  opacity: 0;
}

.characters.girl .girl {
  -webkit-transform: translate(-2rem, 0);
          transform: translate(-2rem, 0);
}

.characters.boy .girl {
  -webkit-transform: translate(-1rem, 0);
          transform: translate(-1rem, 0);
  opacity: 0;
}

.characters.boy .boy {
  -webkit-transform: translate(-8rem, 0);
          transform: translate(-8rem, 0);
}

.question1,
.question2,
.question3 {
  display: none;
  -webkit-animation: showToTop .3s ease-in both;
          animation: showToTop .3s ease-in both;
}

.steps.first .question1 {
  display: block;
}

.steps.second .question2 {
  display: block;
}

.steps.third .question3 {
  display: block;
}

body {
  background: repeat center/150px var(--bg--color);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../img/icon/patt.png");
}

body.dark-theme {
  background-image: url("../img/icon/patt-dark.png");
}

.desk {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 4.5rem;
      grid-template-rows: 1fr 4.5rem;
  aspect-ratio: 3/2;
  height: clamp(10rem, 80vh, 65rem);
  padding: 0rem;
  background-color: var(--bg--color);
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

header {
  position: relative;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content;
      grid-template-rows: max-content max-content;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 2.5rem;
}

main {
  position: relative;
  height: 100%;
  border: 1px solid var(--border--color);
}

#fps {
  position: fixed;
  z-index: 9999;
  font-size: 1rem;
}

#fps div {
  text-transform: uppercase;
  color: var(--text--color) !important;
  border: 0 !important;
  background: none !important;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid var(--border--color);
}

header nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-top: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  border-right: 1px solid var(--border--color);
}

header nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .9rem;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  padding-right: 1.5rem;
  height: 100%;
  color: var(--text--color);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .4rem;
  letter-spacing: .5px;
  font-weight: 800;
}

header nav li aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .25rem;
}

header nav li i {
  display: block;
  height: 1px;
  width: 2.5rem;
  background-color: var(--text--color);
  opacity: .3;
}

header nav li span {
  font-weight: 800;
}

header nav li span b {
  position: relative;
  -webkit-animation: showCounter ease-in .3s 1 forwards;
          animation: showCounter ease-in .3s 1 forwards;
  font-family: 'Arial';
  font-weight: bold;
}

header nav li #experienceDisplay,
header nav li #battlesDisplay {
  font-weight: 500;
  font-size: .6rem;
  opacity: .7;
}

header nav li #experienceDisplay::before,
header nav li #battlesDisplay::before {
  margin-right: .2rem;
  font-family: 'Arial';
  display: inline-block;
}

header nav li #experienceDisplay::before {
  content: 'Experience';
}

header nav li #battlesDisplay::before {
  content: 'Battles';
}

.track {
  opacity: 1;
  position: absolute;
  left: 0;
  bottom: -.2rem;
  width: 50%;
  height: .3rem;
  background: var(--text--color);
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  -webkit-transform: scaleX(0.6);
          transform: scaleX(0.6);
}

.extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: relative;
}

.menu {
  max-width: 4.4rem;
  overflow: hidden;
  height: 100%;
  background-color: #f14242;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.menu.active {
  max-width: 30rem;
}

.menu.active li {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 1;
}

.menu.active .burger {
  background-color: #c83535;
}

.menu.active .burger i:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 1px) scale(0.9);
          transform: rotate(45deg) translate(2px, 1px) scale(0.9);
}

.menu.active .burger i:last-of-type {
  width: 2rem;
  -webkit-transform: rotate(-45deg) translate(3px, -2px) scale(0.9);
          transform: rotate(-45deg) translate(3px, -2px) scale(0.9);
}

.menu__container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu:hover .burger i:last-of-type {
  width: 2rem;
}

.menu .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4.4rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.menu .burger .symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .4rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu .burger i {
  width: 2rem;
  background-color: white;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  height: .2rem;
}

.menu .burger i:last-of-type {
  width: 1.6rem;
}

.menu section {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  z-index: 555;
  background-color: #f14242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem 0 .5rem;
}

.menu section li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  letter-spacing: .5px;
  line-height: 1;
  height: 100%;
  padding: 0 .8rem;
  gap: .2rem;
  -webkit-transform: translate(1.5rem, 0);
          transform: translate(1.5rem, 0);
  opacity: 0;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.menu section li::before {
  content: attr(data-num);
  font-size: .6rem;
}

.menu section li:nth-child(2) {
  -webkit-transition-delay: .05s;
          transition-delay: .05s;
}

.menu section li:nth-child(3) {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.logo {
  position: relative;
  width: 12rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: var(--logo--color);
}

.logo b {
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.logo b sup {
  font-size: 70%;
  font-family: 'arial';
}

.toggler {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.2rem;
  height: 100%;
  position: relative;
}

.toggler .option {
  width: 5rem;
  height: 100%;
  font-size: .8rem;
  gap: .3rem;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  position: relative;
  border-left: 1px solid var(--border--color);
  border-right: 1px solid var(--border--color);
  border-top: 0;
  color: var(--text--color);
}

.toggler .option::before {
  content: attr(data-original);
  font-family: "Noto Sans JP";
  font-size: .5rem;
  opacity: .4;
}

.toggler .option:first-of-type {
  border-right: 0;
}

.toggler .option:nth-child(1).active ~ .track {
  left: 0;
}

.toggler .option:nth-child(2).active ~ .track {
  left: 50%;
}

.toggler .option .icon {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: none;
}

.pokemon {
  width: 100%;
  height: 100%;
  -webkit-filter: saturate(1.25);
          filter: saturate(1.25);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr max-content 1fr;
      grid-template-rows: 1fr -webkit-max-content 1fr;
      grid-template-rows: 1fr max-content 1fr;
}

.pokemon__options {
  display: -ms-grid;
  display: grid;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[3] 17rem;
      grid-template-columns: repeat(3, 1fr) 17rem;
}

.pokemon__options#cpuSelection {
  border-bottom: 1px solid var(--border--color);
  -ms-grid-columns: 17rem (1fr)[3];
      grid-template-columns: 17rem repeat(3, 1fr);
}

.pokemon__options.disable {
  pointer-events: none;
}

.pokemon__card {
  font-size: 12rem;
  width: 100%;
  height: 100%;
  line-height: 1;
  padding: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: -webkit-filter .3s ease-in-out;
  transition: -webkit-filter .3s ease-in-out;
  transition: filter .3s ease-in-out;
  transition: filter .3s ease-in-out, -webkit-filter .3s ease-in-out;
  z-index: 25;
  overflow: hidden;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

.pokemon__card:not(:last-of-type) {
  border-right: 1px solid var(--border--color);
}

.pokemon__card::after {
  content: '';
  z-index: 0;
  opacity: .1;
  background: no-repeat center/auto 100%;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.pokemon__card .image {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  z-index: 10;
  background: no-repeat center/100%;
}

.pokemon__card .image::after {
  content: attr(data-name);
  position: absolute;
  left: -.3rem;
  top: 68%;
  width: 100%;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 3.4rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--text--color);
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  letter-spacing: -4px;
}

.pokemon__card .type {
  overflow: hidden;
  color: var(--text--color);
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.pokemon__card .type::after, .pokemon__card .type::before {
  width: 100%;
  position: absolute;
  opacity: .5;
  font-family: "Merriweather Sans";
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.pokemon__card .type::after {
  content: attr(data-index);
  top: 2rem;
  right: 2rem;
  text-align: right;
  font-size: .7rem;
}

.pokemon__card .type::before {
  content: attr(data-original);
  bottom: 1.2rem;
  right: 2rem;
  font-size: .6rem;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
  z-index: 1;
}

.pokemon__card .type .icon {
  position: absolute;
  left: 1.5rem;
  top: 3.5rem;
  font-size: .9rem;
  width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1.5rem;
  background-position: center;
  background-size: 100%;
  color: var(--text--color);
  opacity: 0;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  -webkit-transform: translate(0, 2rem);
          transform: translate(0, 2rem);
}

.pokemon__card .type .label {
  position: absolute;
  font-size: .7rem;
  top: 2rem;
  left: 2rem;
  color: var(--text--color);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.pokemon__card .fx {
  overflow: hidden;
  mix-blend-mode: lighten;
  pointer-events: none;
}

.pokemon__card .fx img {
  width: 100%;
  visibility: hidden;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.pokemon__card .bg {
  content: '';
  z-index: 0;
  background-color: var(--bg--color);
}

.pokemon__card .bg::before {
  content: '';
  background: url("../img/fx/brillo.gif") no-repeat center/120%;
  z-index: 0;
  mix-blend-mode: overlay;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  opacity: 0;
}

.pokemon__card:hover {
  z-index: 50;
  -webkit-animation: brightFX .4s 1 ease-in forwards;
          animation: brightFX .4s 1 ease-in forwards;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.pokemon__card:hover .icon,
.pokemon__card:hover .type,
.pokemon__card:hover .label,
.pokemon__card:hover .bg::after,
.pokemon__card:hover .image::after {
  color: white;
}

.pokemon__card:hover .image {
  -webkit-transform: translate(0, -0.5rem) scale(1.05);
          transform: translate(0, -0.5rem) scale(1.05);
}

.pokemon__card:hover .image::after {
  -webkit-transform: translate(0, -1.5rem) scale(1.2);
          transform: translate(0, -1.5rem) scale(1.2);
}

.pokemon__card:hover .bg .fx {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pokemon__card:hover .bg .type {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.pokemon__card:hover::after {
  opacity: .3;
  mix-blend-mode: overlay;
  background-size: auto 120%;
}

.pokemon__card:hover .bg::before {
  opacity: .5;
}

.pokemon__card:hover .bg::after {
  opacity: 1;
}

.pokemon__card:hover .type::after, .pokemon__card:hover .type::before {
  letter-spacing: 2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pokemon__card.selected:hover, .pokemon__card.selected {
  pointer-events: none;
  -webkit-transform: translate(0, 0) scale(1);
          transform: translate(0, 0) scale(1);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.pokemon__card.selected:hover .icon,
.pokemon__card.selected:hover .type,
.pokemon__card.selected:hover .label,
.pokemon__card.selected:hover .bg::after,
.pokemon__card.selected:hover .image::after, .pokemon__card.selected .icon,
.pokemon__card.selected .type,
.pokemon__card.selected .label,
.pokemon__card.selected .bg::after,
.pokemon__card.selected .image::after {
  color: white;
}

.pokemon__card.selected:hover::after, .pokemon__card.selected::after {
  opacity: .3;
  mix-blend-mode: overlay;
  background-size: auto 85%;
  background-position: center 70%;
  -webkit-transform: translate(0, -1.5rem);
          transform: translate(0, -1.5rem);
}

.pokemon__card.selected:hover .image, .pokemon__card.selected .image {
  -webkit-transform: scale(1.12);
          transform: scale(1.12);
}

.pokemon__card.selected:hover .bg, .pokemon__card.selected .bg {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover .image::after, .pokemon__card.selected .image::after {
  -webkit-transform: translate(0, -1.5rem) scale(1.1);
          transform: translate(0, -1.5rem) scale(1.1);
}

.pokemon__card.selected:hover .fx img[src*="img"], .pokemon__card.selected .fx img[src*="img"] {
  visibility: visible;
}

.pokemon__card.selected:hover .image-bg, .pokemon__card.selected .image-bg {
  -webkit-animation-play-state: running;
          animation-play-state: running;
  opacity: .25;
}

.pokemon__card.selected:hover .bg::before, .pokemon__card.selected .bg::before {
  opacity: .5;
}

.pokemon__card.selected:hover .bg::after, .pokemon__card.selected .bg::after {
  opacity: 0;
}

.pokemon__card.selected:hover .icon, .pokemon__card.selected .icon {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover .type::after, .pokemon__card.selected:hover .type::before, .pokemon__card.selected .type::after, .pokemon__card.selected .type::before {
  letter-spacing: 2px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.pokemon #cpuSelection.animation .grass {
  -webkit-animation: grass 1s infinite;
          animation: grass 1s infinite;
}

.pokemon #cpuSelection.animation .fire {
  -webkit-animation: fire 1s infinite;
          animation: fire 1s infinite;
}

.pokemon #cpuSelection.animation .water {
  -webkit-animation: water 1s infinite;
          animation: water 1s infinite;
}

.pokemon #cpuSelection:hover * {
  pointer-events: none;
}

.pokemon #cpuSelection .pokemon__card::before {
  display: none;
}

.bulbasaur .image {
  background-image: url("../img/pokemon/bulbasaur.png");
}

.bulbasaur::after {
  background-image: url("../img/pokemon/bulbasaur__evolution.png");
}

.charmander .image {
  background-image: url("../img/pokemon/charmander.png");
}

.charmander::after {
  background-image: url("../img/pokemon/charmander__evolution.png");
}

.squirtle .image {
  background-image: url("../img/pokemon/squirtle.png");
}

.squirtle::after {
  background-image: url("../img/pokemon/squirtle__evolution.png");
}

.chikorita .image {
  background-image: url("../img/pokemon/chikorita.png");
}

.chikorita::after {
  background-image: url("../img/pokemon/chikorita__evolution.png");
}

.cyndaquil .image {
  background-image: url("../img/pokemon/cyndaquil.png");
}

.cyndaquil::after {
  background-image: url("../img/pokemon/cyndaquil__evolution.png");
}

.totodile .image {
  background-image: url("../img/pokemon/totodile.png");
}

.totodile::after {
  background-image: url("../img/pokemon/totodile__evolution.png");
}

.cleffa .image {
  background-image: url("../img/pokemon/cleffa.png");
}

.cleffa::after {
  background-image: url("../img/pokemon/cleffa__evolution.png");
}

.sneasel .image {
  background-image: url("../img/pokemon/sneasel.png");
}

.sneasel::after {
  background-image: url("../img/pokemon/sneasel__evolution.png");
}

.abra .image {
  background-image: url("../img/pokemon/abra.png");
}

.abra::after {
  background-image: url("../img/pokemon/abra__evolution.png");
}

.charmeleon .image {
  background-image: url("../img/pokemon/charmeleon.png");
}

.charmeleon::after {
  background-image: url("../img/pokemon/charmeleon__evolution.png");
}

.charizard .image {
  background-image: url("../img/pokemon/charizard.png");
}

.charizard::after {
  background-image: url("../img/pokemon/charizard__evolution.png");
}

.grass .icon {
  background-image: url("../img/icon/grass__type.svg");
}

.fire .icon {
  background-image: url("../img/icon/fire__type.svg");
}

.water .icon {
  background-image: url("../img/icon/water__type.svg");
}

.fairy .icon {
  background-image: url("../img/icon/fairy__type.svg");
}

.psy .icon {
  background-image: url("../img/icon/psy__type.svg");
}

.dark .icon {
  background-image: url("../img/icon/dark__type.svg");
}

.pokemon__card.selected:hover.grass .type .icon,
.pokemon__card.selected.grass .type .icon,
.pokemon__card:hover.grass .type .icon {
  color: #e9ffbf;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover.fire .type .icon,
.pokemon__card.selected.fire .type .icon,
.pokemon__card:hover.fire .type .icon {
  color: #ffd981;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover.water .type .icon,
.pokemon__card.selected.water .type .icon,
.pokemon__card:hover.water .type .icon {
  color: #9cfcff;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover.fairy .type .icon,
.pokemon__card.selected.fairy .type .icon,
.pokemon__card:hover.fairy .type .icon {
  color: #ffc1ef;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover.psy .type .icon,
.pokemon__card.selected.psy .type .icon,
.pokemon__card:hover.psy .type .icon {
  color: #fa98b7;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover.dark .type .icon,
.pokemon__card.selected.dark .type .icon,
.pokemon__card:hover.dark .type .icon {
  color: #9393a2;
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.pokemon__card.selected:hover.grass .bg,
.pokemon__card.selected.grass .bg,
.pokemon__card:hover.grass .bg {
  background-image: radial-gradient(circle, #e9ffbf 0%, #008e40 80%);
}

.pokemon__card.selected:hover.fire .bg,
.pokemon__card.selected.fire .bg,
.pokemon__card:hover.fire .bg {
  background-image: radial-gradient(circle, #ffd981 0%, #cb3300 80%);
}

.pokemon__card.selected:hover.water .bg,
.pokemon__card.selected.water .bg,
.pokemon__card:hover.water .bg {
  background-image: radial-gradient(circle, #9cfcff 0%, #0060cd 80%);
}

.pokemon__card.selected:hover.fairy .bg,
.pokemon__card.selected.fairy .bg,
.pokemon__card:hover.fairy .bg {
  background-image: radial-gradient(circle, #ffc1ef 0%, #9c1c7c 80%);
}

.pokemon__card.selected:hover.psy .bg,
.pokemon__card.selected.psy .bg,
.pokemon__card:hover.psy .bg {
  background-image: radial-gradient(circle, #fa98b7 0%, #a4083a 80%);
}

.pokemon__card.selected:hover.dark .bg,
.pokemon__card.selected.dark .bg,
.pokemon__card:hover.dark .bg {
  background-image: radial-gradient(circle, #9393a2 0%, black 80%);
}

.pokemon__card.selected:hover.grass .type::after, .pokemon__card.selected:hover.grass .type::before,
.pokemon__card.selected.grass .type::after,
.pokemon__card.selected.grass .type::before,
.pokemon__card:hover.grass .type::after,
.pokemon__card:hover.grass .type::before {
  color: #e9ffbf;
}

.pokemon__card.selected:hover.fire .type::after, .pokemon__card.selected:hover.fire .type::before,
.pokemon__card.selected.fire .type::after,
.pokemon__card.selected.fire .type::before,
.pokemon__card:hover.fire .type::after,
.pokemon__card:hover.fire .type::before {
  color: #ffd981;
}

.pokemon__card.selected:hover.water .type::after, .pokemon__card.selected:hover.water .type::before,
.pokemon__card.selected.water .type::after,
.pokemon__card.selected.water .type::before,
.pokemon__card:hover.water .type::after,
.pokemon__card:hover.water .type::before {
  color: #9cfcff;
}

.pokemon__card.selected:hover.fairy .type::after, .pokemon__card.selected:hover.fairy .type::before,
.pokemon__card.selected.fairy .type::after,
.pokemon__card.selected.fairy .type::before,
.pokemon__card:hover.fairy .type::after,
.pokemon__card:hover.fairy .type::before {
  color: #ffc1ef;
}

.pokemon__card.selected:hover.psy .type::after, .pokemon__card.selected:hover.psy .type::before,
.pokemon__card.selected.psy .type::after,
.pokemon__card.selected.psy .type::before,
.pokemon__card:hover.psy .type::after,
.pokemon__card:hover.psy .type::before {
  color: #fa98b7;
}

.pokemon__card.selected:hover.dark .type::after, .pokemon__card.selected:hover.dark .type::before,
.pokemon__card.selected.dark .type::after,
.pokemon__card.selected.dark .type::before,
.pokemon__card:hover.dark .type::after,
.pokemon__card:hover.dark .type::before {
  color: #9393a2;
}

.charizard .image {
  width: 110%;
  height: 110%;
  left: -5%;
  top: -5%;
}

.charizard:hover {
  overflow: visible;
}

.player {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--bg--player--color);
  border-right: 1px solid var(--border--color);
}

.player .lifes {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .3rem;
  top: 1rem;
}

.player .lifes i {
  display: block;
  width: 1.1rem;
  height: 1.1rem;
  background: url("../img/icon/pokeball_color.svg") no-repeat center/contain;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.player .lifes.x :nth-child(1),
.player .lifes.xx :nth-child(2),
.player .lifes.xxx :nth-child(3),
.player .lifes.xxxx :nth-child(4),
.player .lifes.xxxxx :nth-child(5) {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .3;
  -webkit-animation: shake .8s ease 1;
          animation: shake .8s ease 1;
}

.player.cpu .lifes {
  right: 1rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.player.user .lifes {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: 1rem;
}

.player .avatar {
  width: 120%;
  height: 100%;
  background: no-repeat right 3rem/100% auto;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: relative;
}

.player .name {
  position: absolute;
  top: 3rem;
  right: 1rem;
  color: var(--text--color);
  text-align: right;
  z-index: 100;
  width: 100%;
}

.player .name h6 {
  font-size: .6rem;
  opacity: .4;
  font-family: "Noto Sans JP";
  line-height: 1;
  margin-bottom: .3em;
  font-weight: normal;
}

.player .name h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: .6rem;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
}

.player .name h2 {
  font-size: .9rem;
  letter-spacing: .5px;
  font-weight: normal;
  opacity: .5;
}

.player.user {
  border: 0;
}

.player.cpu .avatar {
  background-image: url("../img/trainer/gary.png");
  left: -5%;
}

.player.user .avatar {
  background-image: url("../img/trainer/red.png");
  background-size: 100%;
}

.player.user .name {
  text-align: left;
  left: 1rem;
  right: unset;
}

.player:before, .player:after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  width: auto;
  z-index: -1;
  border-radius: inherit;
  background: inherit;
  opacity: 0;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
}

.player:before {
  background: -webkit-gradient(linear, left top, right top, from(#0ebeff), color-stop(#ffdd40), color-stop(#ae63e4), to(#47cf73));
  background: linear-gradient(90deg, #0ebeff, #ffdd40, #ae63e4, #47cf73);
  background-size: 200% 200%;
  -webkit-animation: rainbow-border 1s linear infinite;
          animation: rainbow-border 1s linear infinite;
}

.player:after {
  margin: 6px;
}

@-webkit-keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.result {
  overflow: hidden;
  height: 0;
  position: relative;
  z-index: 99999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  transition: All cubic-bezier(0.5, 0.6, 0.2, 0.9) 0.4s;
  background-color: var(--bg--color);
}

.result.show {
  border-bottom: 1px solid var(--border--color);
  height: 1.1rem;
}

.result__item {
  position: absolute;
  top: .1rem;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.result__text {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transform: translate3d(calc(-25% + 10rem), 0, 0);
          transform: translate3d(calc(-25% + 10rem), 0, 0);
  -webkit-animation: titleScroll 15s linear infinite;
          animation: titleScroll 15s linear infinite;
}

.result__text span {
  text-align: center;
  font-family: 'Arial';
  color: var(--text--color);
  font-weight: bolder;
  white-space: nowrap;
  font-size: 0.7rem;
  padding: 0 .2rem;
  font-style: italic;
  letter-spacing: .5px;
  text-transform: uppercase;
  line-height: 1.15;
}

@-webkit-keyframes titleScroll {
  0% {
    -webkit-transform: translate3d(calc(-25% + 10rem), 0, 0);
            transform: translate3d(calc(-25% + 10rem), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-50% + 10rem), 0, 0);
            transform: translate3d(calc(-50% + 10rem), 0, 0);
  }
}

@keyframes titleScroll {
  0% {
    -webkit-transform: translate3d(calc(-25% + 10rem), 0, 0);
            transform: translate3d(calc(-25% + 10rem), 0, 0);
  }
  100% {
    -webkit-transform: translate3d(calc(-50% + 10rem), 0, 0);
            transform: translate3d(calc(-50% + 10rem), 0, 0);
  }
}

.desk .gameover {
  position: absolute;
  width: 30vw;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 5rem;
  visibility: hidden;
}

.desk .gameover .info {
  color: var(--text--color);
  text-align: left;
}

.desk .gameover .info__title span {
  font-family: "Noto Sans JP";
  font-size: 3rem;
  letter-spacing: 2px;
}

.desk .gameover .info__title h4 {
  font-size: 8rem;
  margin: 0;
  line-height: 1;
}

.desk .gameover .info__title h6 {
  margin-top: 1rem;
  font-size: 2rem;
  color: #f14242;
  display: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  gap: 1rem;
}

.desk .gameover section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.desk .gameover section li {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.desk .gameover section li b {
  opacity: .7;
  font-weight: 400;
}

.desk .gameover section li span {
  font-size: 3.5rem;
  font-family: 'Arial';
  font-weight: 900;
}

.desk .gameover aside {
  margin-top: 3rem;
  font-size: 2rem;
  font-family: 'Arial';
  font-weight: 900;
}

.desk.winner .gameover,
.desk.loser .gameover {
  visibility: visible;
  -webkit-animation: showToLeft 1s;
          animation: showToLeft 1s;
}

.desk.winner .gameover .info__title span,
.desk.loser .gameover .info__title span {
  -webkit-animation: showToLeft 1.2s;
          animation: showToLeft 1.2s;
}

.desk.winner .gameover .info__title h4,
.desk.loser .gameover .info__title h4 {
  -webkit-animation: showToLeft 1.4s;
          animation: showToLeft 1.4s;
}

.desk.winner .gameover .info__title h6,
.desk.loser .gameover .info__title h6 {
  -webkit-animation: showToLeft 1.6s;
          animation: showToLeft 1.6s;
}

.desk.winner .gameover section li::nth-child(1),
.desk.loser .gameover section li::nth-child(1) {
  -webkit-animation: showToTop 1.7s;
          animation: showToTop 1.7s;
}

.desk.winner .gameover section li::nth-child(2),
.desk.loser .gameover section li::nth-child(2) {
  -webkit-animation: showToTop 1.9s;
          animation: showToTop 1.9s;
}

.desk.winner .gameover section li::nth-child(3),
.desk.loser .gameover section li::nth-child(3) {
  -webkit-animation: showToTop 2.1s;
          animation: showToTop 2.1s;
}

.desk.winner .player::after,
.desk.winner .player::before,
.desk.loser .player::after,
.desk.loser .player::before {
  opacity: 1;
}

.desk.winner {
  -webkit-transform: translateX(-30vw);
          transform: translateX(-30vw);
}

.desk.winner #nextRival {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.desk.winner .gameover {
  text-align: left;
  left: calc(100% + .3rem);
}

.desk.loser {
  -webkit-transform: translateX(30vw);
          transform: translateX(30vw);
}

.desk.loser #tryAgain {
  display: block;
}

.desk.loser .gameover {
  text-align: right;
  right: calc(100% + .3rem);
}

.desk.loser aside,
.desk.loser .info__title {
  text-align: right;
}

.desk.loser section {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */